.link,
.link__active {
  position: relative;
  font-size: 25px;
  color: $main;
  @include mq('md') {
    align-self: flex-end;
    height: 50%;
    font-size: calc(16px + 9 * (100vw - 800px) / 1120);
    line-height: 1;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  &__dropdawn {
    position: absolute;
    top: 48px;
    left: -56px;
  }
}

.link__active,
.link:hover,
.linkButton:focus {
  border-color: $main;
}
