.icons {
  &__trash {
    width: 21px;
    height: 27px;
    cursor: pointer;
  }
  &__pencilSquare {
    width: 14px;
    height: 12px;
  }
  &__pencil {
    width: 25.68px;
    height: 25.68px;
  }
  &__email {
    width: 29.65px;
    height: 22.46px;
  }
  &__user {
    width: 30px;
    height: 30px;
  }
  &__phone {
    width: 21.21px;
    height: 30.85px;
  }
  &__currentPosition {
    width: 21.6px;
    height: 36px;
  }
  &__password {
    width: 22.29px;
    height: 29.17px;
  }
  &__note {
    width: 29px;
    height: 29px;
  }
  &__error {
    width: 20px;
    height: 20px;
  }
  &__twitter {
    width: 30px;
    height: 24px;
  }
  &__instagram {
    width: 26px;
    height: 26px;
  }
  &__facebook {
    width: 14px;
    height: 27px;
  }
  &__address {
    width: 35px;
    height: 27px;
  }
  @include mq('md') {
    &__pencilSquare {
      width: 17.5px;
      height: 15px;
    }
    &__twitter {
      width: 40px;
      height: 32px;
    }
    &__instagram {
      width: 35px;
      height: 35px;
    }
    &__facebook {
      width: 19px;
      height: 36px;
    }
  }
}
