.header {
  height: 100px;
  padding: 0 8% 0 2%;
  background-color: $header_bg;
  nav,
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  ul {
    gap: 28px;
  }
  &__logo {
    width: 49px;
    height: 50px;
  }
  @include mq('md') {
    
    &__logo {
      width: 260px;
      height: 53px;
    }
  }
}
