.container,
.container__login {
  display: flex;
  height: 140%;
  section {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    width: 100%;
    height: 120%;
    padding: 102px 11% 0 11%;
    a {
      display: block;
      .title {
        width: 305px;
        height: 68px;
      }
    }
  }

  @include mq('md') {
    height: 180%;
    .aside {
      width: 33%;
      height: 100%;
      background-color: $main;
    }
    section {
      gap: 77.5px;
      align-items: flex-start;
      min-width: 800px;
      height: 100%;
      padding: calc(102px + 58 * (100vw - 800px) / 1120) calc(100px + 138 * (100vw - 800px) / 1120) 0
        calc(76px + 104 * (100vw - 800px) / 1120);
      .title {
        width: 262px;
        height: 56px;
      }
    }
  }
}

.container__login {
  height: 170%;
  section {
    gap: 126px;
    height: 100%;
  }
  @include mq('md') {
    section {
      gap: 114px;
    }
  }
}
