.bgBlue,.bgWhite {
  background-color: $bg-blue;
}

.bgWhite {
  background-color: $bg-white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}