%button {
  width: 112px;
  height: 45px;
  color: $text-white;
  border: none;
  border-radius: 20px;
  @include mq('md') {
    width: calc(112px + 48 * (100vw - 800px) / 1120);
    height: calc(45px + 20 * (100vw - 800px) / 1120);
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.button {

  &__navy {
    position: relative;
    background: $main;
    @extend %button;
    &:hover {
      background: $dark-blue;
    }
    &:disabled {
      background: $dark-blue;
    }
  }
  &__wine_red {
    @extend %button;
    background: $sub;
    &:hover {
      background: $red-button-hover;
    }
    &:disabled {
      background: $red-button-hover;
    }
  }
  &__light_blue {
    @extend %button;
    background: $light-blue;
    &:hover {
      background: $light-blue-button-hover;
    }
    &:disabled {
      background: $light-blue-button-hover;
    }
  }
  &__outline {
    @extend %button;
    color: $main;
    background: #fffffe;
    border: 3px solid $main;
    &:hover {
      box-shadow: 5px 5px 8px #cecece;
    }
    &:disabled {
      background: $light-grey;
    }
  }
}
