
.container {
  display: flex;
  gap: 21px;
  @include mq('md') {
    gap: 6px;
  }
}
.checkbox {
  input {
    position: absolute;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
  }
  label {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border: 2px solid #366a8e;
    border-radius: 7px;
  }
  input:focus + label {
    border-radius: 4px;
    box-shadow: 0 0 3px 3px;
  }
  input:checked + label::after {
    position: absolute;
    top: 4px;
    left: 7px;
    display: block;
    width: 8px;
    height: 11px;
    content: '';
    border-right: 2px solid $main;
    border-bottom: 2px solid $main;
    transform: rotate(45deg);
  }
  @include mq('md') {
    label {
      width: 30px;
      height: 30px;
      border: 3px solid #366a8e;
    }
    input:checked + label::after {
      top: 4px;
      left: 8px;
    }
    label::before {
      top: -4px;
      font-size: 20px;
    }
  }
}
