.uploaderContainer {
  position: relative;
  display: flex;
  gap: 42px;
  &__label {
    align-self: center;
  }
  &__imageAndButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_postion {
      align-self: center;
    }
  }
  &__thumbnail {
    position: absolute;
    top: 20%;
    left: 300px;
  }
  @include mq('md') {
    gap: calc(20px + 22 * (100vw - 800px) / 1120);
  }
}