.uploaderContainer {
  position: relative;
  display: flex;
  gap: 42px;
  &__label {
    align-self: center;
  }
  &__imageAndButton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_postion {
      align-self: center;
    }
  }
  &__thumbnail {
    position: absolute;
    top: 20%;
    left: 300px;
  }
  .profileImage {
    position: relative;
    width: 120px;
    height: 160px;
  }
}