.input {
  position: relative;
  width: 100%;
  &__icon {
    position: absolute;
    top: 15px;
    left: 0;
    &_none {
      text-indent: 0px !important;
    }
    &_email {
      width: 29.65px;
      height: 22.46px;
    }
    &_password {
      width: 22.29px;
      height: 29.17px;
    }
    &_user {
      width: 30px;
      height: 30px;
    }
  }
  &__status {
    position: absolute;
    top: 15px;
    right: 0;
    &_error {
      width: 20px;
      height: 20px;
    }
  }
}