.select,
.selectYear {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60px;
  height: 22px;
  select {
    position: relative;
    width: 50px;
    height: 30px;
    text-indent: 10px;
    cursor: pointer;
    background-color: $bg-white;
    border: none;
    border-bottom: 2px solid $light-grey;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

  }
  &::after {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 6px;
    height: 6px;
    
    pointer-events: none;
    content: '';
    border-top: solid 1px $main;
    border-right: solid 1px $main;
    transform: rotate(135deg);
  }
  span {
    display: block;
    align-self: flex-end;
    line-height: 1;
  }
  p {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 12px;
    color: $sub;
  }
  @include mq('md') {
    width: 100px;
    height: 28px;
    select {
      width: 60px;
      height: 40px;
      font-size: 20px;
      text-indent: 20px;
    }
    &::after {
      right: 40px;
      width: 8px;
      height: 8px;
      border-top: solid 2px $main;
    border-right: solid 2px $main;
    }
    span {
      font-size: 20px;
    }
    p {
      top: 40px;
    }
  }
}

.selectYear {
  width: 80px;
  select {
    width: 75px;
    text-indent: 10px;
  }
  @include mq('md') {
    width: 120px;
    select {
      width: 90px;
    }
  }
}
