.forms {
  display: flex;
  flex-direction: column;
  gap: 52px;
  &__button {
    text-align: center;
  }
  &__check {
    display: block;
    a {
      margin-left: 45px;
      font-size: 16px;
    }
  }
  @include mq('md') {
    gap: calc(52px + 48 * (100vw - 800px) / 1120);
    &__check {
      display: flex;
      a {
        margin-left: 0;
        font-size: 20px;
      }
    }
  }
}
